$title-family: "Lora SemiBold"
$subtitle-family: "Lora"
$body-family: default
$body-size: 20px

@import "~bulma"

.flex
  display: flex

.justify-center
  justify-content: center

.align-center
  align-items: center